<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212687920836-k090mtf0k0hauqcinvu7p6gr13evelua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212687920836-k090mtf0k0hauqcinvu7p6gr13evelua</string>
	<key>API_KEY</key>
	<string>AIzaSyC90al4xFCJFkp4Wz4tlK3vy-5h8THNGyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>212687920836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.afarms</string>
	<key>PROJECT_ID</key>
	<string>afarms-75055</string>
	<key>STORAGE_BUCKET</key>
	<string>afarms-75055.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212687920836:ios:9553972c91f32534387391</string>
</dict>
</plist>